* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b7d9e3;
}

.img-thumbnail {
  height: 55px;
}

.navbar-light .navbar-nav .nav-link {
  color: white !important;
}

/* creare una cartella img nella cartella resources */

section.cortissime,
section.corte,
section.lunghe {
  padding: 20px 20px;
}

section.cortissime .card,
section.corte .card,
section.lunghe .card {
  margin: 3px;
  padding: 5px;
}

.corte,
.lunghe {
  display: flex;
  flex-wrap: wrap;
}

main .container-main {
  background-image: url(/images/pasta-pippo.png?1011def69ad1e68c6efcc2f2bc3e5ba6);
  height: 100vh;
  background-position-x: center;
  background-repeat: no-repeat;
}

