* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b7d9e3;
}

.img-thumbnail {
  height: 55px;
}

.navbar-light .navbar-nav .nav-link {
  color: white !important;
}

/* creare una cartella img nella cartella resources */

table {
  height: calc(100vh - 81px);
}

table .col-titolo {
  font-size: 30px;
}

table img {
  width: 100%;
}

#tbl {
  margin-bottom: 0;
}

