* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b7d9e3;
}

.img-thumbnail {
  height: 55px;
}

.navbar-light .navbar-nav .nav-link {
  color: white !important;
}

/* creare una cartella img nella cartella resources */

section {
  padding: 20px 20px;
}

.card {
  margin: 3px;
  padding: 5px;
}

.corte,
.lunghe {
  display: flex;
  flex-wrap: wrap;
}

