

/* creare una cartella img nella cartella resources */

table{
    height: calc(100vh - 81px);;
}

table .col-titolo{
    font-size: 30px;
}

table img{
    width: 100%;
}

#tbl{
    margin-bottom: 0;
}

