

/* creare una cartella img nella cartella resources */



section.cortissime,section.corte,section.lunghe{
    padding: 20px 20px;
        .card{
        margin: 3px;
        padding: 5px;
    }
}

.corte,.lunghe{
    display: flex;
    flex-wrap: wrap;
}



main{
    .container-main{
        background-image: url('../../pippo/pasta-pippo.png');
        height: 100vh;
        background-position-x: center;
        background-repeat: no-repeat;
    }
}



